<div id="information">
	<h1>New Domain</h1>

	<div class="form">
		<%= form_for(@domain, :url => admin_domains_path) do |f| %>
	  		<%= render "form", :form => f %>
	  		<%= f.submit %>
		<% end %>
	</div>
</div>