<div id="information">
	<h1> Landing Pages </h1>
	
	<p>The site is built around make it easy for you to find mobile web sites for your phone. This will let you search for sites and get the links to those site with ease.</p>
</div>