<section class="search row">
	<form class="shape form-search span4 offset4">
	  <%= text_field_tag :search, params[:search], :class => "input-mobdex search-query",  :placeholder => "Search" %>
	  <%= button_tag content_tag(:i, nil, :class => "icon-search icon-white"), :class => :btn %>
	</form>
</section>

<section class="row">
	<div class="results shape  offset4">
		
		<%= flash_notifier %>
	</div>
</section>