<!--
<div id="border">
 <%#= form_tag domains_path, :method => :get do %>
		<div id="searchInputWraper">
			<div id="wrap_search">
				<div id="capLeft"><%#= image_tag "inner_left.jpg" %></div>
				<div><%#= text_field_tag :search, params[:search], :id => :search %></div>
				<div id="capRight"><%#= image_tag "inner_right.jpg" %></div>
			</div>
		</div>
		<%#= submit_tag "", :id => :searchButton %>
	<%# end %>
</div> -->
			

<%#= form_tag domains_path, :method => :get, :class => [:shape, :form_search, :span4, :offset4] do %>
	<%#= text_field_tag :search, params[:search], :class => [:input_mobdex, :search_query] %>
	<%#= submit_tag content_tag(:i, :class => [:icon_search, :icon_white], :class => :btn), :class => :btn %>
<%# end %>

<section class="search row">
	<form class="shape form-search span4 offset4">
	  <input type="text" class="input-mobdex search-query" value="ESPN">
	  <button type="submit" class="btn"><i class="icon-search icon-white"></i></button>
	</form>
</section>

<section class="row">
	<div class="results shape  offset4">
		<%= flash_notifier %>
	</div>
</section>