<div style="padding: 10px;">
	<%= render "search" %>
</div>
<div class="domains">
	<% for domain in @domains %>
		<div class="domain">
			<div id="favicon"><%= image_tag domain.url + "/favicon.ico", :class => :favicon %></div>
			<div id="domainInformation">
				<div id="title">
					<%= domain.title %>
				</div>
				<div id="description">
					<%= domain.description %>
				</div>
			</div>
		</div>
	<% end %>
</div>