<section class="row">
	<div class="span4 offset4">
		<p class="about">Pew2 solves the problems of ordinary search: find, discover, share, and browse. One revolutionary site, simply on your mobile device.</p>

	</div>
</section>

<section class="row content">
	<div class="span4 offset4">
		<%= form_for(@beta_signup) do |f| %>
			<%= image_tag "email.png", :class => :emailimg %>
			<%= f.text_field :email, :class => "input-email", :placeholder => "Enter email...", :required => true %>
			<!-- <input id="emaillegdend" class="input-email" type="email" name="email" value="Enter email.."> -->
			<%= f.submit "Signup for Beta", :class => ["btn", "pull-left"] %>
		<% end %>
	</div>
</section>

<section class="row content">
	<div class="span4" style="width: 200px;
	margin-left: 520px;">
		<!-- <div class="social-container"> -->
			<div style="float: left;
			width: 95px;">
			<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div style="float: right;
			padding: 5px;
			width: 95px;">
				<div class="fb-like" data-href="http://www.pew2.com" data-send="false" data-layout="button_count" data-width="145" data-show-faces="false" data-font="verdana"></div>
			</div>
		<!-- </div> -->
	</div>
</div>
