<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

		<title>Simpla Admin | Sign In</title>
		<%= stylesheet_link_tag "back/application" %>
		<%= javascript_include_tag "application" %>
	</head>

	<body id="login">
		<div id="login-wrapper" class="png_bg">
			<div id="login-top">	
				<h1>Simpla Admin</h1>
				<!-- Logo (221px width) -->
				<%= image_tag "logo.png" %>
			</div> <!-- End #logn-top -->
			<%= yield %>
		</div>
	</body>
</html>
